input{
    border: 0;
    font-size: 1.5rem;
    padding: 8px 14px 8px 54px;
    &:focus,
    &:active,
    &:hover{
        outline: none;
        outline: 0;
        border: 0;
    }
}
.sgds-button[type="submit"]{
    height: 54px;
    font-size: 0.9375rem;
    padding: 7px 24px;
    font-weight: 600;
    letter-spacing: 0.8px;
}
