.sgds-breadcrumb{
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    font-size: .9375rem;
    white-space: nowrap;
    margin-bottom: .625rem;
    ul{
        flex-wrap: nowrap;
    }
    li+li:before{
        font-size: .9375rem;
        color: white;
    }
    a{
        font-size: .9375rem;
        padding: 0.625rem .9375rem;
        small{
            font-size: .9375rem;
            letter-spacing: .2px;
        }
    }
}