//Navbar
html.has-navbar-fixed-top-widescreen {
    padding-top: 128px!important;
}

.masthead-container{
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
    transition: top .5s;
}
//SGDS Navbar
.sgds-navbar {
    min-height: 6.25rem;
    border-bottom: 1px solid #f0f0f0;

    &-item{
        margin: 0 .75rem;
        padding: 0;
        font-size: 0.9375rem;
        color: rgb(10, 10, 10);
    }

    &-start {
        
        .sgds-navbar-item {
            
            &.has-dropdown{
                a:after{
                    font-weight: lighter;
                    color: inherit;
                }
            }
            a {
                &.active {
                    @include touch(){
                        border-bottom:2px solid $secondary;
                    }
                }
            }
            .sub-link{
                font-size: 18px;
                letter-spacing: 0;
                padding: 0;
                padding-right:48px;
                margin: 15px;
                margin-left: 30px;
                font-weight: 400;
    
                &.is-active,
                &.active
                &:hover {
                    color:$secondary;
                }
            }
            
    
            .selector {
                position: absolute;
                width: 100%;
                bottom: 0;
                height: 5px;
                left: 0;
                &.active{
                    background-color:$secondary;
                }
            }
            &.active {
                @include widescreen(){
                    border-bottom:1px solid $secondary;
                }
            }
        }
    }
    &-dropdown{
        padding: .5rem 0rem;
    }

    &-link{
        
        &:not(.is-arrowless):after{
            border: 1px solid #484848;
            border-right: 0;
            border-top: 0;
            content: " ";
            display: block;
            height: .5em;
            pointer-events: none;
            position: absolute;
            transform: rotate(-45deg);
            transform-origin: center;
            width: .5em;
            margin-top: -.375em;
            right: 1.125em;
            top: 50%; 
        }
    }
    


    .sgds-navbar-link,
    a.sgds-navbar-link{
        padding-left: 0 !important;
    }

    .sgds-navbar-link,
    a.sgds-navbar-item:not(sub-link){
        
        &:hover{
        color: $secondary;
        }
    }

    .sgds-navbar-item:hover {
        .selector {
            @include widescreen(){
                background-color:$secondary;
            }
        }
    }
    input{
        border: 0;
        font-size: 1.5rem;
        padding: 8px 14px 8px 54px;
        &:focus,
        &:active,
        &:hover{
            outline: 0;
            border: 0;
        }
    }

    .is-search-bar{
        border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
        margin: 0;
        padding: .5rem 1.5rem;
        display: none;
        input{
            font-size: 1rem;
            box-shadow: none;
            border: 0;
            border-color: red;
            &:focus,
            &:active,
            &:hover{
                outline: 0;
                border: 0;
            }
        }

        .field{
            border: 0;
        }
    }

    //desktop searchbar button
    .sgds-button[type="submit"]{
        height: 54px;
        font-size: 0.9375rem;
        padding: 7px 24px;
        font-weight: 600;
        letter-spacing: 0.8px;
    }
}



//Media Queries
@media screen and (max-width:1279px){
    .sgds-navbar>.sgds-container {
        display: block;
    }
    .sgds-navbar-brand{
        align-items: stretch;
        display: flex;
        flex-shrink: 0;
        min-height: 5.25rem;

    }

    .sgds-navbar-brand .sgds-navbar-item{
        align-items: center;
        display: flex;
    }

    .sgds-navbar-burger {
        display: block;
        width: 6.25rem;
        height: 6.25rem;
    }

    .sgds-navbar-menu{
        display: none;
        &.is-active{
            display: block;
        }
    }
    .sgds-navbar-start{
        display:block;
        margin: 0 auto 1rem;
        .sgds-navbar-item {
            max-width: none;
            & + .sgds-navbar-item{
                margin-top: 1.2rem;
            }
        }
    }
    .sgds-navbar-item{
        display: block;
        
        &.has-dropdown {
            margin: 19px 12px 0;
            > a.sgds-navbar-link{
                padding: 0;
                padding-right: 35px;
            }
        }
    }

    a.sgds-navbar-item + a.sgds-navbar-item{
        margin-top: 1.2rem;
    }


    .sgds-navbar-dropdown{
        display: block;
        position: static;
        box-shadow: none;
        border: 0;
        a.sub-link{
            padding-right: 0 !important;
            &:first-child{
                margin-top: 1.25rem;            
            }
        }
    }

    .selector{
        display: none;
    }

    .sgds-navbar-end{
        display: none;
    }

    .is-search-bar{
        display: block!important;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px){
    .sgds-navbar-brand{
        margin-left: -1rem;
        margin-right: -1rem;
    }
}